h2 {
    display: block;
    font-size:2em;
    margin-block-start: 1em;
    margin-block-end: 5em;
    margin-inline-start: 1px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: blue;
}